@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{ 
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.container> div {
    display:flex; 
    flex-direction: column;
    margin: 0 auto;
    padding: 2rem;
    border: 1px solid #46acff;
    box-shadow:0 10px 6px -6px rgb(0 0 0 / 8%);
    border-radius: 1rem;
    word-wrap: break-word; 
}
 

fieldset>legend{
    background-color: rgb(255, 255, 255);
    color: rgb(33, 36, 38);
    padding: 0.2rem .3rem ;
    border: 1px solid #fff;
    box-shadow: 0 0 3px rgb(181, 210, 255);
    border-radius: 0.5rem;
}

fieldset{
    background-color: #fff;
    color: rgb(29, 29, 29);
    padding: 0.5rem 1rem 1rem !important;
    border: 2px solid #a7d7ff;
    box-shadow: -3px 2px 3px#46acff;
    border-radius: 0.5rem;
    margin: 0.5rem 0;

}
.btn{
    margin-top: 1rem;
    padding: 0.8rem ;
    background-color: #4eafff; 
    color: #fff;
    font-size: large;
    border: 2px solid #4eafff;
    border-radius: 0.75rem;   
    box-shadow: -3px 2px 3px#46acff;
    transition: 0.5s;
}

.btn:hover, .btn:active {
    border: 2px solid #5bb5ff;
    box-shadow:  -5px 3px 5px #34a4ff;
    border-radius: 0.75rem;
    font-weight: bold;
    transform: scale(1.05);
}

.error {
    min-width: 300px;
    color: red;
    font-weight: bold;
    padding: 2rem;
    text-align: center;
}